<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>mhsb</title>

    {{ font_awesome.load_css() }}

    {% assets "scss_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag 'application' , media: 'all' , 'data-turbolinks-track' : 'reload' %>
                <%= javascript_pack_tag 'application' , 'data-turbolinks-track' : 'reload' %> -->
</head>

<body>
    {% include 'nav.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
</body>

</html>