<footer>
    <div class="footer-container">
        <div class='footer-link-wrapper'>
            <a href="mailto:michael.h.s.ball@gmail.com" target="_blank" class="footer-link" id="footerMail">
                {{ font_awesome.render_icon("fa-regular fa-envelope", aria_hidden="true") }}
            </a>
        </div>
        <div class='footer-link-wrapper'>
            <a href="https://github.com/michaelhball" target="_blank" class="footer-link" id="footerGithub">
                {{ font_awesome.render_icon("fa-brands fa-github", aria_hidden="true") }}
            </a>
        </div>
        <div class='footer-link-wrapper'>
            <a href="https://www.linkedin.com/in/michaelhsball" target="_blank" class="footer-link" id="footerLinkedIn">
                {{ font_awesome.render_icon("fa-brands fa-linkedin", aria_hidden="true") }}
            </a>
        </div>
        <div class='footer-link-wrapper'>
            <a href="https://www.soundcloud.com/smethurst" target="_blank" class="footer-link" id="footerSoundcloud">
                {{ font_awesome.render_icon("fa-brands fa-soundcloud", aria_hidden="true") }}
            </a>
        </div>
    </div>
</footer>