{% extends "base.html" %}

{% block content %}

<section class='music-section'>

    <h1 class='page-title'>Music</h1>
    <p class='intro-text'>Sounds and songs I like, mixed.</p>
    {% if tags %}
    <div class='selected-tags'>
        {% for tag in tags %}
        <a href="{{ url_for('remove_tag', tag=tag, tags=','.join(tags)) }}" class='tag'>#{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
    <div class='page-line'></div>

    <div class='music-list-container'>
        <ul class='music-list'>
            <li class='music-list-item'>

                {% for mix in mixes %}
                <div class='mix' role='mix'>

                    <div class='lhs'>
                        <a href="{{ mix.url }}" class="link" target="_blank">
                            <img src="{{ mix.image_url }}" />
                        </a>
                    </div>

                    <div class='rhs'>
                        <h3>{{ mix.name }}</h3>
                        <div class='date'>{{ mix.date }}</div>
                        <iframe scrolling="no" frameborder="no" src="{{ mix.url }}"></iframe>

                        <div class='tags'>
                            {% for tag in mix.tags %}
                            <a href="{{ url_for('add_tag', tag=tag, tags=','.join(tags)) }}"
                                class="{{'tag disabled' if no_more_tags or tag in tags else 'tag'}}"
                                style="color:#{{mix.color}}">
                                #{{ tag}}
                            </a>
                            {% endfor %}
                        </div>

                    </div>

                </div>
                {% endfor %}

            </li>
        </ul>
    </div>
</section>

{% endblock %}