<nav>
    <div class='dropdown' id='dropdown'>
        <button type="button" class="trigger">
            <div class='menu-icon'></div>
        </button>
        <ul class='nav-list'>
            <li class='nav-item nav-item-1'>
                <a href="/" class="nav-link">
                    <p>home</p>
                </a>
            </li>
            <li class='nav-item nav-item-2'>
                <a href="/cv" class="nav-link" target="_blank">
                    <p>CV</p>
                </a>
            </li>
            <li class='nav-item nav-item-3'>
                <a href="/thesis" class="nav-link" target="_blank">
                    <p>thesis</p>
                </a>
            </li>
            <li class='nav-item nav-item-4 disabled'>
                <a href="/projects" class="nav-link">
                    <p>projects</p>
                </a>
            </li>
            <li class='nav-item nav-item-5'>
                <a href="/music" class="nav-link">
                    <p>music</p>
                </a>
            </li>
            <li class='nav-item nav-item-6 disabled'>
                <a href="/movies" class="nav-link">
                    <p>movies</p>
                </a>
            </li>
            <li class='nav-item nav-item-7 disabled'>
                <a href="/blog" class="nav-link">
                    <p>blog</p>
                </a>
            </li>
        </ul>
    </div>
</nav>